@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table {
    width: 100%;
}

table th,
table td {
    padding: 16px;
}

table td {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

table th {
    border-bottom: thin solid rgba(0, 0, 0, 0.32);
}

table tbody tr:last-child td {
    border-bottom: transparent;
}
